# Ignore everything in the root
/*

# Unignore .gitignore and README
!.gitignore
!README.md

# Unignore the addons directory
!/addons/

# Ignore everything inside addons
/addons/*

# Unignore custom addon directories
!/addons/purchase_request/
!/addons/mrp_custom_qc/
